@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-default {
    @apply bg-zinc-100;
    @apply dark:bg-zinc-800;
  }

  .bg-opposite {
    @apply bg-zinc-100;
    @apply dark:bg-zinc-800;
  }

  .bg-contrast {
    @apply bg-zinc-800 bg-opacity-10;
    @apply dark:bg-zinc-100 dark:bg-opacity-50;
  }

  .bg-special {
    @apply bg-zinc-800;
    @apply dark:bg-zinc-100;
  }
}
